/* app css stylesheet */

body {
  margin-top: 2em;
  margin-left: 2em;
  margin-right: 2em;
  font-family: "Lato";
}

h1, h2, h3 {
  font-family: "Lustria";
}

a {
  color: black;
}

a:hover {
  color: black;
  text-decoration: none;
}

/* centered columns styles */
.row-centered {
    text-align:center;
}

.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

.search-box {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 0.5em;
  padding-bottom: 2em;
  position: relative;
}

.search-field {
  display: block;
  margin-right: 0.5em;
}

.players {
  list-style: none;
}

.player-listing {
  margin-top: 0.75em;
  font-size: 1.2em;
  display: inline-block;
}

.thumbnail {
  border: 0 none;
  box-shadow: none;
  min-width: 10em;
  max-width: 18em;
  max-height: auto;
  padding-right: 1.5em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  overflow: hidden;
}

.thumb {
  padding-bottom: 1em;
}

.thumb img:hover {
  opacity: 0.75;
  filter: alpha(opacity=75); /* For IE8 and earlier */
}

.players li {
  clear: both;
  height: 8.5em;
  padding-top: 1em;
}

/** Detail View **/
.player-description {
  font-size: 1.4em;
  line-height: 1.4em;
  margin-bottom: 2em;
}

img.player {
  height: 12em;
  width: 12em;
  display: none;
}

img.player:first-child {
  display: block;
}

ul.player-thumbs {
  margin: 0;
  list-style: none;
}

ul.player-thumbs li {
  border: 1px solid black;
  display: inline-block;
  margin: 1em;
  background-color: white;
}

ul.player-thumbs img {
  height: 100px;
  width: 100px;
  padding: 1em;
}

ul.player-thumbs img:hover {
  cursor: pointer;
}