<div class="container-fluid">
  <div class="row row-centered">
    <h1>Player of the Week Collection</h1></br>

    <!--Search Box and Sorting Filters-->
    <div class="search-box col-centered">
      <form class="form-inline">
        <div class="form-group">

          <!-- Search field -->
          <input ng-model="query" type="search" class="form-control input-lg player-search" placeholder="Search">

          <!-- Sorting dropdown -->
          <select class="form-control input-lg player-sort" ng-model="orderProp">
            <option value="name">Alphabetical</option>
            <option value="-age">Newest</option>
            <option value="age">Oldest</option>
          </select>

        </div>
      </form>
    </div></br>

    <!--Player Listing-->
    <ul class="row row-centered">
      <li ng-repeat="player in players | filter:query | orderBy:orderProp"
      class="thumbnail col-md-6 col-sm-6 col-xs-6 col-centered">

      <!-- Individual Player Listing -->
      <a href="#/players/{{player.id}}" class="thumb">
        <img ng-src="{{player.imageUrl}}" class="img-circle">
      </a>
      <a class="player-listing" href="#/players/{{player.id}}">{{player.name}}</a>
      
    </li>
  </ul>
  <div class="footer">
    All content on this website has been used for educational purposes only.
  </div>
</div>
</div>
