<div class="container-fluid">
  <div class="row">
  
  <!--Search Box and Sorting Filters-->
    <div class="search-box">
      Search: <input ng-model="query">
      Sort by:
      <select ng-model="orderProp">
        <option value="name">Alphabetical</option>
        <option value="age">Newest</option>
      </select>
    </div>

    <div class="col-md-12">
      <!--Body content-->

      <ul class="players">
        <li ng-repeat="player in players | filter:query | orderBy:orderProp"
            class="thumbnail player-listing">
          <a href="#/players/{{player.id}}" class="thumb"><img ng-src="{{player.imageUrl}}" class="img-circle"></a>
          <a href="#/players/{{player.id}}">{{player.name}}</a>
          <p>{{player.snippet}}</p>
        </li>
      </ul>

    </div>
  </div>
</div>
