<div class="container-fluid">
	<div class="row row-centered">
		<div class="col-md-8 col-centered">
			<div align="center">
				
				<!-- Image -->
				<img ng-src="{{player.image}}" class="player img-circle">

				<!-- Name -->
				<h1>{{player.name}}</h1>

				<!-- Nickname -->
				<p class="player-nickname">{{player.nickname}}</p>

				<!-- Key Points -->
				<span ng-if="player.strengths != null">
					<h3>Strengths</h3>
					<div class="player-strengths" ng-repeat="strength in player.strengths">{{strength}}</div><br/>
				</span>

				<!-- Videos -->
				<span ng-if="player.videos != null">
				<h3>Videos</h3>
				<flex-slider slide="video in player.videos">
				<li>
					<iframe width="560" height="315" ng-src="{{video}}" frameborder="0" allowfullscreen></iframe>
				</li>
			</flex-slider>
			</span>

			<br/><nav>
			  <ul class="pager">
			    <!-- <li class="previous"><a href="#"><span aria-hidden="true">&larr;</span> Previous</a></li> -->
			    <li class="home"><a href="/app/#/players"></span>Back to Collection</a></li>
			    <!-- <li class="next"><a href="#">Next <span aria-hidden="true">&rarr;</span></a></li> -->
			  </ul>
			</nav>

			<div class="footer">
				All content on this website has been used for educational purposes only.
			</div>
		</div>
	</div>
</div>
</div>
